po/POTFILES
build*/
INSTALL
*Makefile.in
aclocal.m4
autom4te.cache
config.guess
*~
config.sub
configure
depcomp
install-sh
missing
po/*.gmo
autoscan.log
configure.scan
TAGS
m4/*
ABOUT-NLS
compile
po/Makevars.template
config.rpath
po/Makefile.in.in
po/Rules-quot
